---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="{{ site.meta.ua_compatible }}">
  <meta name="viewport" content="{{ site.meta.viewport }}">
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.meta.description }}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}, {% endif %}{{ site.meta.keywords }}">
  <meta name="rating" content="{{ site.meta.rating }}">
  <meta name="copyright" content="Copyright &copy; {{ site.meta.copyright_year }}-{{ site.time | date: '%Y' }} {{ site.meta.copyright_owner }}, All Rights Reserved">
  <link rel="icon" href="{{ site.assets.favicon }}"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><link rel="stylesheet" href="{{ site.assets.css.site }}">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <img src="/img/cft_l.png" width="270"/>
      <h3>{{ site.title }} is Under Construction</h3>
    </div>
  </div>
</div>
{% include footer.html %}
{% include footerjs.html %}
</body>
</html>